@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

.Main-1 {
  @include flex-hv-center;
  @include width-height(100%, 80vh);
  position: relative;
  font-family: $family;

  .content {
    @include flex-fd-column;
    @include d-flex(center, center);
    background-color: #30c2d2;
    @include width-height(100%, 85%);

    .h1 {
      color: $white;
      font-size: $font-size-50;
      margin: 0;
    }
    .p1 {
      color: $white;
      font-size: $font-size-17;
    }

    .button1 {
      @include no-border;
      @include margin-padding(1rem, 1.5rem);
      color: rgb(73, 72, 72);
      width: 15rem;
      font-size: $font-size-16;
      font-family: $family;
      border-radius: 5rem;
      font-weight: $font-weight-bold;
    }
  }

  .Content-2 {
    @include width-height(60%, 20%);
    @include position-absolute(43rem, 0);
    @include d-flex(center, center);
    flex-direction: column;

    .Order-list {
      width: 80%;
      @include d-flex(center, center);
      @include list-no-style;
      background-color: black;
      border-radius: 1rem 1rem 5px 5px;
      color: $white;

      .List-1 {
        @include d-flex(center, center);
        @include spacecontent(1.2rem 0, 0rem 4rem 0);
        @include no-style;
        color: $list;
        border-right: 1px solid $white;
        font-weight: $font-weight-medium;

        a {
          text-decoration: none;
          font-size: $font-size-12;
          color: $white;
        }
      }

      .list {
        padding-left: 5rem;
      }
      .List-1:nth-child(5) {
        border: none;
      }
      .list2 {
        padding-right: 5rem;
      }
    }
  }

  .Search-head {
    width: 100%;
    background-color: $white;
    border-radius: 10rem;
    box-shadow: 0px 10px 15px -10px $black;

    .Search-child {
      @include d-flex(center, center);
      padding: 0.6rem;

      .select-container {
        @include d-flex(center, center);
        height: 3.5rem;
        padding: 0.2em 2em;
        padding-right: 0;
        border-right: 1px solid grey;

        .Icon {
          margin: 1.5rem;
          color: grey;
        }
      }

      .List-2 {
        @include d-flex(center, center);
        color: grey;
        @include no-style;
        padding: 1rem;
        padding-left: 0;
        font-family: $family;
        font-size: 1.5rem;
      }

      .input-field {
        flex: 1;
        font-size: 1.5rem;
        @include no-border;
        padding-left: 1.5rem;
        font-family: $family;
      }

      .search-button {
        color: #e05206;
        border: 3px solid #e05206;
        padding: 1.6rem;
        width: 17rem;
        background-color: $white;
        border-radius: 10rem;
        font-size: $font-size-19;
        font-weight: $font-weight-bold;
        font-family: $family;
      }
    }
  }

  .Search-content {
    position: absolute;
    bottom: -1rem;

    .Search-2 {
      .search-wrapper {
        @include no-border;
        border-radius: 5px;
        height: 44px;
        @include d-flex(center, center) // overflow-x: hidden;
;
      }

      .search-wrapper input {
        font-family: $family;
        @include width-height(16%, 100%);
        @include no-border;
        font-size: 1.7rem;
        background: white;
      }

      .search-wrapper span {
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 2rem;
        background: white;
        overflow: hidden;
        color: grey;
      }

      .Last-button {
        @include no-border;
        @include margin-padding(2rem, 1rem);
        margin-left: 0;
        width: 10rem;
        border-radius: 2.5rem;
        color: gray;
        font-size: 1.3rem;
        font-family: $family;
      }
    }
  }
}
