<section class="Main">
  <aside class="Main-1">
  <aside class="content">
    <h1 class="h1">Revolution Starts Here</h1>
    <p class="p1">Revo helps you get your dreams faster</p>
    <button class="button1" type="button">Get Started</button>
  </aside>

  <aside class="Content-2">
    <ul class="Order-list">
      <li class="List-1 list"><a href="">BUY</a></li>
      <li class="List-1"><a href="">RENT</a></li>
      <li class="List-1"><a href="">COMMERCIAL</a></li>
      <li class="List-1"><a href="">PG/CO-LIVING</a></li>
      <li class="List-1 list2"><a href="">PLOTS</a></li>
    </ul>

    <aside class="Search-head">
      <aside class="Search-child">
        <span class="select-container">
          <span class="material-icons-round Icon">
            my_location
            </span>
        <li class="List-2">
          <select name="" id="" class="List-2">
            <option value="">Choose Category</option>
          </select>
        </li>
        </span>
        
  
      <input class="input-field" type="text" placeholder="Search for locality,landmark,project or builders">
      <button class="search-button">Search</button>
      </aside>
    </aside>
  </aside>



  </aside>





</section>


