<header class="mainhead">
  <aside class="logocontent">
    <p class="texts"><span class="logo">REVO </span>. HOME</p>
    <p class="small-p">REAL ESTATE WILL NEVER BE SAME</p>
  </aside>

  <aside class="listhead">
    <ul class="content">
      <li class="lists"><a>Home</a></li>
      <li class="lists">
        <select name="" id="" class="lists select">
          <option value="">Gategory</option>
        </select>
      </li>
      <li class="lists"><a>REVO Builders</a></li>
      <li class="lists"><a>List Property</a></li>
      <li class="lists"><a>Sign Up</a></li>
      <li class="lists">
        <select name="" id="" class="lists select">
          <option value="">My account</option>
        </select>
      </li>
    </ul>
  </aside>
</header>
