@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

.mainhead {
  @include d-flex(space-around, center);
  font-size: $font-size-16;
 padding: 2rem;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.349);

  .logocontent {
    @include fontsize-fontweight($font-size-20, 600);
    letter-spacing: 0.1em;

    .logo {
      color: #e05206;
    }

    .small-p {
      @include fontsize-fontweight($font-size-8, 600);
      letter-spacing: 0.04rem;
      margin: 0;
      margin-top: 0.5rem;
      color: $list;
    }

    .texts {
      margin: 0;
    }
  }

  .content {
    @include d-flex(space-evenly, center);

    .lists {
      @include spacecontent(0, 0 2rem 0);
      @include no-style;
      color: $list;
      font-weight: $font-weight-medium;

      .select {
        @include fontsize-fontweight($font-size-16, $font-weight-medium);
        color: $list;
        font-family: $family;
      }
    }
  }
}
