@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.footer {
  background-color: #001b49;
  height: 100%;
  padding: 70px 0;
  padding-left: 50px;

  .container {
    width: 95%;

    .row {
      @include flex-fw-wrap;

      .footer-col {
        @include flex-fd-column;
        padding: 0 15px;
        h4 {
          @include fontsize-fontweight(1.7rem, 400);
          color: white;
          margin: 0;
          text-transform: capitalize;
          position: relative;
        }
        ul {
          list-style: none;
          padding: 0;
        }
        ul li:not(:last-child) {
          margin-bottom: 10px;
        }

        ul li a {
          @include fontsize-fontweight(1.4rem, 300);
          text-transform: capitalize;
          color: white;
          line-height: 3rem;
          text-decoration: none;
          color: #ffffff8f;
          display: block;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

/* responsive */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
