<aside class="card-container">
  <aside class="card-box">
    <div class="ball"></div>
    <div class="ball-2"></div>
    <span class="material-icons-round home"> home_work </span>
    <p class="title-1">Pay Rent</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> receipt_long </span>
    <p class="title-1">Rent Agreement</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> credit_score </span>
    <p class="title-1">Home Loans</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> chair </span>
    <p class="title-1">Home Interior</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> local_shipping </span>
    <p class="title-1">Soolar Rooftop</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> real_estate_agent </span>
    <p class="title-1">Preminum Appartment</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> diamond </span>
    <p class="title-1">Packers & Movers</p>
  </aside>

  <aside class="card-box">
    <div class="ball"></div>
    <span class="material-icons-round"> solar_power </span>
    <p class="title-1">Property Managment</p>
  </aside>
</aside>
<aside class="galery">
  <aside class="content">
    <img src="../../assets/Group 57737.svg" width="60%" height="" alt="" />
    <h4 class="card-heading">Buy Property</h4>
    <p class="cardp">
      Find your place with an immersive photo experience and the most listings,
      including things
    </p>
    <button class="card-button">Start Now</button>
  </aside>

  <aside class="content">
    <img src="../../assets/Group 57731.svg" width="60%" height="" alt="" />
    <h4 class="card-heading">Sell Property</h4>
    <p class="cardp">
      No matter what path you take to sell your home, we can help you navigate a
      successful sale.
    </p>
    <button class="card-button">Start Now</button>
  </aside>

  <aside class="content">
    <img src="../../assets/Group 57731.svg" width="60%" height="" alt="" />
    <h4 class="card-heading">Rent Property</h4>
    <p class="cardp">
      Find your place with an immersive photo experience and the most listings,
      find anywhere else.
    </p>
    <button class="card-button">Start Now</button>
  </aside>
</aside>
