@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

section {
  background-color: #00a6b51b;
  @include d-flex(center, center);
  opacity: 5;
  @include paddingtop-bottom(4rem, 4rem);

  .container {
    @include directions;
    gap: 2rem;

    .head-content {
      line-height: 2rem;

      h2 {
        font-size: $font-size-25;
      }
      .head-small {
        font-size: 2.2rem;
        color: gray;
      }
    }

    .project-card {
      @include flex-h-center;
      gap: 2rem;

      .card-content {
        @include width-height(42rem, 40rem);
        @include flex-fd-column;
        position: relative;
        border-radius: 2rem;

        img {
          border-radius: 10px;
        }
      }

      .details-head {
        @include positionabsolute(19rem, 6rem);

        .rent {
          @include width-height(6rem, 2rem);
          @include position-right-bottom(35rem, 32rem);
          background-color: #00a5b5;
          color: white;
          font-weight: 400;
          font-size: $font-size-13;
          padding: 0.5rem;
          text-align: center;
          border-radius: 0 0 10px;
        }
        .logo {
          @include position-top-right(-3.5rem, 27rem);
          color: rgba(67, 67, 194, 0.608);
          background-color: rgb(255, 255, 255);
          padding: 1.5rem;
          border-radius: 50px;
          box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);

          .logo-icon {
            font-size: 4rem;
          }
        }
        .details {
          background-color: rgb(255, 255, 255);
          padding: 0rem 0rem 0rem 2rem;
          border-radius: 20px 0 0 20px;
          @include width-height(34rem, 18rem);
          @include newdirection;
          box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);

          .content-1 {
            @include margintop-bottom(4rem, 1.5rem);
            font-size: $font-size-18;
            font-weight: 600;
          }

          .content-2 {
            color: grey;
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 0;
          }

          .content-3 {
            margin-top: 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
