@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";

section {
  background-color: #00a6b51b;
  @include d-flex(center, center);
  opacity: 5;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .container {
    @include directions;
    gap: 2rem;

    .head-content {
      line-height: 2rem;

      h2 {
        font-size: 2.5rem;
      }
      .head-small {
        font-size: 2.2rem;
        color: gray;
      }
    }

    .project-card {
      @include flex-h-center;
      gap: 2rem;

      .card-content {
        width: 42rem;
        height: 40rem;
        @include flex-fd-column;
        position: relative;
        border-radius: 2rem;

        img {
          border-radius: 10px;
        }
      }

      .details-head {
        position: absolute;
        top: 19rem;
        left: 6rem;

        .logo {
          position: absolute;
          color: rgba(67, 67, 194, 0.608);
          background-color: rgb(255, 255, 255);
          padding: 1.5rem;
          border-radius: 50px;
          top: -3.5rem;
          right: 27rem;
          box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);

          span {
            font-size: 4rem;
          }
        }
        .details {
          background-color: rgb(255, 255, 255);
          padding: 0rem 0rem 0rem 2rem;
          border-radius: 20px 0 0 20px;
          width: 34rem;
          height: 18rem;
          @include newdirection;
          box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);

          .content-1 {
            font-size: 1.8rem;
            margin-top: 4rem;
            margin-bottom: 1.5rem;
            font-weight: 600;
          }

          .content-2 {
            color: grey;
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 0;
          }

          .content-3 {
            margin-top: 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
