<section class="builder-top">
  <aside class="Container">
    <aside class="builder-head">
      <h3 class="heads">Builders</h3>
    </aside>

    <aside class="Builder-card">
      <aside class="builder-content">
        <aside class="Arrow-icon">
          <span class="material-icons-round arrow"> arrow_forward_ios </span>
        </aside>

        <img
          src="../../assets/R (1)@2x.png"
          class="abclogo"
          width=""
          height="50%"
          alt=""
        />
        <aside class="text-content">
          <h5 class="card-1">AD Construction</h5>
          <h6 class="card-2">86+ items</h6>
        </aside>
      </aside>

      <aside class="builder-content">
        <aside class="Arrow-icon">
          <span class="material-icons-round arrow"> arrow_forward_ios </span>
        </aside>

        <img
          src="../../assets/pankajakasthuri_500-1.png"
          width=""
          height="50%"
          alt=""
        />
        <aside class="text-content">
          <h5 class="card-1">ABC Builder</h5>
          <h6 class="card-2">90+ items</h6>
        </aside>
      </aside>

      <aside class="builder-content">
        <aside class="Arrow-icon">
          <span class="material-icons-round arrow"> arrow_forward_ios </span>
        </aside>

        <img
          src="../../assets/Himalaya-Logo-design-india-PNG-Transparent-Images@2x.png"
          width=""
          height="50%"
          alt=""
        />
        <aside class="text-content">
          <h5 class="card-1">GK Builders</h5>
          <h6 class="card-2">85+ items</h6>
        </aside>
      </aside>

      <aside class="builder-content">
        <aside class="Arrow-icon">
          <span class="material-icons-round arrow"> arrow_forward_ios </span>
        </aside>

        <img
          src="../../assets/final-logo-01@2x.png"
          width=""
          height="50%"
          alt=""
        />
        <aside class="text-content">
          <h5 class="card-1">A Group Construction</h5>
          <h6 class="card-2">86+ items</h6>
        </aside>
      </aside>

      <aside class="builder-content">
        <aside class="Arrow-icon">
          <span class="material-icons-round arrow"> arrow_forward_ios </span>
        </aside>

        <img
          src="../../assets/gerrardexcavating-logo@2x.png"
          width=""
          height="50%"
          alt=""
        />
        <aside class="text-content">
          <h5 class="card-1">ZG Group</h5>
          <h6 class="card-2">86+ items</h6>
        </aside>
      </aside>
    </aside>
  </aside>
</section>
