@import "../../assets/scss/base/mixins";

.builder-top {
  @include d-flex(center, center);
  @include paddingtop-bottom(4rem, 6rem);

  .Container {
    @include directions;
    gap: 2rem;
    .heads {
      font-size: 3rem;
      color: gray;
    }

    .Builder-card {
      @include flex-h-center;
      gap: 3rem;
      .builder-content {
        position: relative;
        @include width-height(23rem, 26rem);
        @include mod-newdirections;
        gap: 1rem;
        border-radius: 2rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);
        
        img {
          width: 50%;
          aspect-ratio: 3/2;
          object-fit: contain;
        }
        .abclogo {
          width: 100%;
        }
        .Arrow-icon {
          position: absolute;
          bottom: -2.5rem;
          background-color: #00a5b5;
          padding: 1rem;
          color: white;
          border-radius: 25px;

          .arrow {
            font-size: 3rem;
            font-weight: 900;
          }
        }
        .text-content {
          .card-1 {
            margin: 0;
            font-size: 1.7rem;
            font-weight: 600;
          }
          .card-2 {
            margin: 1rem;
            font-weight: 500;
            color: grey;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
