@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.download-main {
  background-image: url(../../assets/dnlod.png);
  @include width-height(100%, 50vh);
  background-size: cover;
  @include d-flex(center, flex-end);
  padding-bottom: 1rem;

  .container {
    @include directions;
    width: 80%;
    padding-bottom: 7.5rem;

    .download-h1 {
      font-size: 6rem;
      margin: 0;
    }
    .revo {
      color: $white;
    }

    .last-section {
      @include mod-newdirections;

      .download-p {
        color: $white;
        font-size: 1.5rem;
      }
      .btns {
        display: flex;
        gap: 3rem;

        .btn1 {
          padding-left: 1rem;
          gap: 1rem;
          line-height: 2rem;
          width: 14rem;
          background-color: black;
          border-radius: 10px;
          color: white;
          @include d-flex(start, center);
          text-decoration: none;

          .apple{
            filter: brightness(13);
          }
          
          .logo-icon {
            color: white;
            font-size: 3.5rem;
          }
          .btn-content {
            @include directions;
            line-height: 1.5rem;

            .btn-p {
              font-size: 0.8rem;
              @include margintop-bottom(0.2rem, 0);
              color: gray;
              padding: 0.2rem;
            }

            .btn-span {
              font-size: 1.4rem;
              padding: 0.2rem;
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
  }
}
