<section class="download-main">
<aside class="container">
<aside class="download-head">
<h1 class="download-h1"> <span class="revo">All In one In </span> Revo </h1>
</aside>
<aside class="last-section">
    <p class="download-p">Download the app for free</p>
    <aside class="btns">
        <aside class="btn1">
        <img class="apple" src="../../assets/apple.png" width="19%" height="60%" alt="">
            <aside class="btn-content">
                <p class="btn-p">Download on the</p>
                <span class="btn-span">App store</span>
            </aside>
          
        </aside>

        <aside class="btn1">
            <img src="../../assets/playstore.png" class="logo-icon" width="19%" height="50%" alt="">
                <aside class="btn-content">
                    <p class="btn-p">Download on the</p>
                    <span class="btn-span">App store</span>
                </aside>
              
            </aside>


    </aside>
</aside>


</aside>
</section>